version: '3.5'
services:
  api1: # API - Instância 01
    image: rodrigoknolseisen/rinha-backend-ts:latest
    hostname: api1
    depends_on:
      - db
    expose:
      - "8080"
    deploy:
      resources:
        limits:
          cpus: '0.4'
          memory: '0.8GB'

  api2: # API - Instância 01
    image: rodrigoknolseisen/rinha-backend-ts:latest
    hostname: api2
    depends_on:
      - db
    expose:
      - "8080"
    deploy:
      resources:
        limits:
          cpus: '0.4'
          memory: '0.8GB'

  nginx: # Load Balancer
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
    ports:
      - "9999:9999"
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: '0.2GB'

  db: # Banco de dados
   image: postgres:latest
   hostname: db
   ports:
      - "5432:5432"
   healthcheck:
      timeout: 2s
   environment:
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DB: 'rinha'
   deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: '1.2GB'